@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1,  h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border-width: 0;
    outline: 0;
    font-size: 100%;

    background: transparent;

}

body {
    background:  transparent;
    font-family: 'Roboto', sans-serif;


}
a {text-decoration: none;}

::selection {
    color: #fff;
    background-color: #76d2f7;

}
::-moz-selection {
    color: #fff;
    background-color: #76d2f7;
}


.opis{display:none; float: left;}
ol, ul {
    list-style: none;
}

.Vollkorn {font-family: 'Vollkorn', serif;}



:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, button, textarea, select {
    padding: 0;
    margin: 0;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
    border: none;

}


.admin_bookslist {width: 1200px; margin: 0 auto;}
.admin_bookslist li {

    }
.admin_bookslist li a{ font-size: 14px; color: #000;}
.admin_bookslist li a:hover {}

.admin_bookslist li .imagebg {float:left; width: 100px;
    margin-right: 40px;}
.admin_bookslist li .imagebg img{width: 95px; border: 1px solid #ccc; padding: 3px;}
.admin_bookslist li .name_book {float:left; width: 700px;}
.admin_bookslist li .edit {width: 100px; float: left;}
.admin_bookslist li .delete {width: 100px;
    float: left;}