@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1,  h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border-width: 0;
    outline: 0;
    font-size: 100%;
    
    background: transparent;

    }

body {
        background:  transparent;
font-family: 'Roboto', sans-serif;


    }
    a {text-decoration: none;}
    
    ::selection {
    color: #fff;
    background-color: #76d2f7;
    
    }
    ::-moz-selection {
    color: #fff;
    background-color: #76d2f7;
    }
    
    
.opis{display:none; float: left;}
ol, ul {
    list-style: none;
    }

.Vollkorn {font-family: 'Vollkorn', serif;}



:focus {
    outline: 0;
    }

ins {
    text-decoration: none;
    }

del {
    text-decoration: line-through;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
    }

input, button, textarea, select {
    padding: 0;
    margin: 0;
    }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
    border: none;
    
    }    
 

 nav {width: 100%; height: 40px; background: #f6f6f6; border-bottom: 1px solid #ссс;}
 nav ul {width: 75%; margin: 0 auto;}
  nav ul li {line-height: 40px; float: left; width: 15%; padding: 0px 15px 0px 15px; text-align: center; font-family: 'Roboto Slab', serif;
  }
  nav ul li a{color: #fe5300; font-weight: 600;}
nav ul li a:hover {color: #000;}

.pattern {width: 100%;
    height: 90px; background: url("../image/book_pattern.png") ;}
  .page_name {width: 100%; text-align: center; padding-top: 30px;margin-bottom: 30px;}
  .page_name h1 {font-size: 36px; letter-spacing: 0.1em;   font-family: 'Convergence', sans-serif;

  }
.page_name h1 span {color: #fe5300}

  .page_name h1 a{color: #000;}

  .sidebarnav {float: left; width: 30%;}
  .row {width: 75%; margin: 0 auto;}
  .sidebar {float: left; width: 80%; margin-right: 2%; background: #fff; border: 1px dashed #ccc; padding: 4%; border-radius: 10px;}
  .sidebar ul{}
  .sidebar li{border-bottom: 1px dashed #ccc; height: 40px; line-height: 40px; padding: 0px 10px 0px 10px; font-family: 'Roboto Slab', serif;
  }
  .sidebar li a{color: #000;}
  .sidebar li:hover{background: #fff;border-bottom: 1px solid #ccc;}
  .sidebar li a:hover{color: #fe5300;}

  .content {float: left; width: 58%; background: #fff; padding: 3%; border: 1px dashed #f3f3f3; }

  .latest_books {}
  .latest_books ul{}
  .latest_books li{float: left;
      width: 29%;
      height: 230px;
      margin-right: 10px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      padding: 5px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      overflow: hidden;}
.latest_books li:hover {border: 1px dashed #fe5300;}
.imagebg {width: 100%;
    text-align: center; }
.imagebg img{    /* width: 100%; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 100px;}
.name_book {width: 100%;  font-family: 'Roboto Slab', serif;
    font-size: 16px;  margin-bottom: 10px;}
.name_book a{color: #000;}
.name_book a:hover {color: #fe5300;}
.name_book small {font-size: 12px;}
.container-content {width: 100%; background: #f6f6f6; padding-top: 35px; padding-bottom: 35px;padding-left: 35px;
    padding-right: 35px; }
.preview_description {font-family: 'Roboto Slab', serif;
    font-size: 13px; }
.container-content-w {width: 1200px; margin: 0 auto; }

.latest_books h4{border-bottom: 2px solid #ccc; margin: 0px 0px 15px 0px; font-family: 'Roboto Slab', serif;
font-size: 18px;}

.interesting_books h4 {border-bottom: 2px solid #ccc; margin: 0px 0px 15px 0px;font-family: 'Roboto Slab', serif;
    font-size: 18px;}
.interesting_books {float: left; width: 80%; margin-top: 35px;margin-right: 2%; background: #fff; border: 1px dashed #ccc; padding: 4%; border-radius: 10px;}
.interesting_books li{float: none; width: 100%; height: 160px; text-align: center;font-family: 'Roboto Slab', serif;
    font-size: 14px;    border-bottom: 1px dashed #ccc;
    margin-bottom: 30px;}
.interesting_books li img {height: 120px; width: auto;}
.interesting_books li a:hover {color: #fe5300;}






.imgbook {float: left; width: 200px; margin-right: 10px;}
.desc {float: left; width: 350px;}
.desc h4 {font-size: 21px; margin: 0px 0px 25px 0px;}

footer {width: 100%; height: 40px; line-height: 40px; text-align: center; background: #f4f4f4; border-bottom: 1px solid #3D9AD1;}

.counter {text-align:   center; margin-bottom:40px;}

nav ul li form {width: 260px; margin-top: 7px;}
nav ul li input[type="text"] { float: left;
    height: 20px;
    line-height: 20px;
padding-left: 12px; padding-right: 15px; background: #fff;
width: 170px; font-size: 13px;
    letter-spacing: 0.025em;}

button.headbutton {width: 48px; float: right;
    height: 23px;
    line-height: 20px; text-align: center; border: 1px solid #fe5300; background: #fe5300; color: #fff;}

button.headbutton:hover {border: 1px solid #fe5300; background: #fff; color: #fe5300;
    cursor: pointer;}